---
import BaseLayout from '../layouts/BaseLayout.astro';

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "The Vault";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    Explore my deployed projects - a collection of applications crafted for both utility and enjoyment.
    <br>
    Feel free to experiment with them and delve into the code on GitHub.
  </p>
  
  <div class="project-container">
    <!-- mapping through every md file content from projects folder -->
      {allProjects.map((proj) => (
        <div class="project">
          <h2>{proj.frontmatter.title}</h2>
          <h3>{proj.frontmatter.description}</h3>
          <p>
            <a href={proj.frontmatter.url} target="_blank"> 
              <img src={proj.frontmatter.image.url} alt={proj.frontmatter.image.alt}>
            </a>
            <a href={proj.url} class="link-button">Dive Deeper</a>

          </p>
        </div>
      ))}   
  </div>
</BaseLayout>

