---
import BaseLayout from '../layouts/BaseLayout.astro';
// import {Content} from '../pages/projects/weather.md'

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "The Vault";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    Explore my deployed projects - a collection of applications crafted for both utility and enjoyment.
    Feel free to experiment with them and delve into the code on GitHub.
  </p>
  <div class="project-container">
      {allProjects.map((proj) => (
        <div class="project">
          <h2>{proj.frontmatter.title}</h2>
          <h3>{proj.frontmatter.description}</h3>
          <p>
            <a href={proj.frontmatter.url}>
              <img src={proj.frontmatter.image.url} alt={proj.frontmatter.image.alt}>
            </a>
            <a href={proj.url} style="padding: 10px;  background-color: #4CAF50; color: white; border: none;
            border-radius: 4px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 2em auto; cursor: pointer;">Dive Deeper</a>

          </p>
        </div>
      ))}   

      <!--
        <a href={proj.frontmatter.url}>
        Instead of
        <a href="/projects/weather/">Weather App</a>
        <a href="/projects/space/">NASA SpaceEx App</a>
      -->
  </div>
</BaseLayout>

